
.header{
    
&__link{
    text-decoration: none;
    background: #fff;
    color: #000;
    padding: 1rem 1.2rem;
    border-radius: 4px;
}

&__btn{
    padding: .7rem 1rem;
    border-radius: 2px;
}

&__border{
    border:1px solid #fff;


}

&__solid{
    background-color: #fff;

}

}


.category__btn{
    text-decoration: none;
    color: #000;
    background-color: orange;
    padding: .6rem 1rem;
}

.history__btn{
    color: #999;
    padding: .8rem 1rem;
    text-decoration: none;
    background-color: #fff;
    box-shadow: 2px 2px 4px #000;
    border-radius: 5px;
}

.email__btn{
    background-color:orange;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.411);
    border-radius: 10px;
    padding: .7rem 1rem;
    width: 10rem;
    margin: 0 auto;
    


}